body{
  margin: 0;
  text-align: center;
  background-color: #583d72;
  font-family: 'Poppins', sans-serif;
}

.container-fluid{
padding: 3% 15%;
}

h1{
  font-family: 'Saira Extra Condensed', sans-serif;
  margin-top: 0;
  font-size: 10em;
  color: #ffba93;
}

h2{
  color: #ffba93;
}

p{
  color: #ffba93;
}

.nav-link{
  color: #9f5f80;
  font-weight: bold;
}

a:hover{
color: #ff8e71;
}

.top-container{
  padding-top: 100px;
}

.mini-me {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  padding: 30px;
}

.web{
  padding: 100px;
}

.about-me{
  padding: 100px;
}

.contact-me{
  padding-top: 100px;
}

.button-link{
  margin: 5% 3% 3% 0;
  list-style: none;
  display: inline-block;
}

.icon{
  color: #ff8e71;
}

.icon:hover{
  color: #ffba93 ;

}
