body{
  margin: 0;
  text-align: center;
  background-color: #d6c8ff;
}

h1{
  margin-top: 0;
  font-size: 5em;
  color: #fef0ff;
}

h2{
  color: #fef0ff;
}

.top-container{
  background-color: #c79ecf;
  padding-top: 100px;


}

.profile{

  padding: 50px;
}

.skills{
  padding-top: 200px;
}

.skill-row{
  padding: 100px;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;


}

.code-img{
  float: right;
  width: 200px;
  height: 200px;

}

.bootstrap-logo{
  width: 25%;
  float: left;
  width: 200px;
  height: 200px;
}

.contact-me{
  padding-top: 200px;
}
