body{
  margin: 0;
  text-align: center;
  background-color: #583d72;
  font-family: 'Poppins', sans-serif;
}

.container-fluid{
padding: 3% 15%;
}

hr{
  color: #ffba93;
  height: 50px;
}

h1{
  font-family: 'Saira Extra Condensed', sans-serif;
  margin-top: 0;
  font-size: 10em;
  color: #ffba93;
}

h2{
  color: #ffba93;
}

p{
  color: #ffba93;
}

.nav-link{
  color: #9f5f80;
  font-weight: bold;
}

a:hover{
color: #ff8e71;
}

.top-container{
  padding-top: 100px;
}

.mini-me {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  padding: 30px;
}

.web-content{
  padding: 200px 0;

}

.web{
  padding: 100px;
}

.web-link{
  color: #ffba93;
  margin: 50px;
  display: inline-block;
  border: 1px solid #ffba93;
  border-radius: 50%;
  padding: 50px;

}

.web-link:hover{
  color:#9f5f80;
  border: 1px solid #9f5f80;
}

.about-content{
  padding-bottom: 200px;
}

.contact-me{
  padding-top: 100px;
}

.card-footer{
  background-color: #ffba93;
}

.card-link{
  color: #9f5f80;
}

.card-link:hover{
  color: #ff8e71;

}

.card-text{
  color: #9f5f80;
}

.animation-area {

	width: 100%;

}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
